IRONIC_AIO_IRONIC_BASIC_AUTH_USERNAME=
IRONIC_AIO_IRONIC_BASIC_AUTH_PASSWORD=
IRONIC_AIO_IRONIC_SKIP_CA_VERIFICATION=false
IRONIC_AIO_IRONIC_API_URL=http://localhost:6385
IRONIC_AIO_IRONIC_API_VERSION=1.82
